@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,200;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bungee Spice', cursive;
}

body {
    overflow: hidden;
    main {
        .main-container{
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            .info-game-container{
                height: 500px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 0px 30px;
                .game-title{
                    font-size: 3rem;
                }
                .game-info{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    margin-bottom: 20px;
                    h4{
                        font-size: 1.2rem;
                        margin-bottom: 5px;
                    }
                    .movement{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        margin-left: 10px;
                        ion-icon{
                            font-size: 2rem;
                        }
                    }
                    h2{
                        width: 2rem;
                        height: 2rem;
                        font-family: 'Poppins', sans-serif;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                #comenzar{
                    all: unset;
                    margin-top: 20px;
                    align-self: center;
                    padding: 10px 20px;
                    cursor: pointer;
                    border-radius: 6px;
                    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.459);
                    
                }         
            }
            canvas {
                border: 5px solid black;
                width: 800px;
                height: 500px;
                max-width: 100%;
                max-height: 100%;
            }
        }
        img {
            display: none;
        }
        #loading {
            position: absolute;
            background-color: white;
            top: 50%;
            width: 100%;
            height: 100vh;
            text-align: center;
        }
    }
}